%h1 Game#playing
%p Find me in app/views/game/playing.html.haml
%table#code-table

%table#guesses-table
  - if not @game.nil?
    - @game.game_guesses.each do |guess|
      %tr
      - guess.code.each_char do |c|
        %td= c.to_s
        
=form_tag game_playing_path :method => :post  do
  = hidden_field_tag "game_id" , @game.id if @game
  - idx=0
  - 4.times.each do 
    = select_tag %{code[#{idx}]}, options_for_select(['A','B','C','D','E','F'], session["last_code"][ idx.to_s ] )
    -idx +=1
  = submit_tag 'Guess!', :id => 'guess_submit'

