%h1 Game#start

%table#code-table

%table#guesses-table

=form_tag game_playing_path :method => :post  do
    = hidden_field_tag "game_id" , @game.id if @game
    = text_field_tag "firstCell"
    = text_field_tag "secondCell"
    = text_field_tag "thirdCell"
    = text_field_tag "fourthCell"
    = hidden_field_tag "guessed_code", "ABCD"
    = submit_tag 'Guess!', :id => 'guess_submit'
