%table#code-table
  %tr
  -4.times do
    %td#secret_code

%table#guesses-table
%table#guesses-table
  - if not @game_guesses.nil?
    - @game_guesses.each do |guess|
      %tr
      - guess.code.each_char do |c|
        %td= c.to_s

=form_tag game_playing_path :method => :post  do
  = hidden_field_tag "game_id" , @game.id if @game
  = select_tag "code[0]", options_for_select(['A','B','C','D','E','F'])
  = select_tag "code[1]", options_for_select(['A','B','C','D','E','F'])
  = select_tag "code[2]", options_for_select(['A','B','C','D','E','F'])
  = select_tag "code[3]", options_for_select(['A','B','C','D','E','F'])
  = submit_tag 'Guess!', :id => 'guess_submit'
