<!DOCTYPE html>
%html
%head
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %title= sanitize("Código Secreto!")

%body
  %div{:id => "banner"}
    #h1= sanitize("Código Secreto!")
  %div{:id => "columns"}
    %div{:id => "left_side"}
    %div{:id => "main"}
      =yield
  
%footer

